<h1>トップページ</h1>
<p>Hello Ruby!</p>

<% if current_user == nil %>
  <%= link_to "ログイン", login_path %>
<% else %>
  <%= link_to 'ログアウト', login_path, :confirm => 'ログアウトしますか？', :method => :delete %>
<% end %>

<div class="text-center">
<%= image_tag "logo_3.png" %>
</div>
<div class="container">
  <div class="row row-cols-1">
  <div class="d-grid gap-2">
  <br>
  <button class="btn btn-primary" type="button">ログイン</button>
  <br>
  <button class="btn btn-primary" type="button">新規登録</button>
</div>
  </div>
</div>