<br>
<br>
<br>
<br>
<br>
<div class="text-center">
<%= image_tag "logo_3.png" %>
</div>
<div class="container">
  <div class="row row-cols-1">
  <div class="d-grid gap-2">
  <br>
  <button class="btn btn-primary" type="button">ログイン</button>
  <br>
  <button class="btn btn-primary" type="button">新規登録</button>
</div>
  </div>
</div>