<!DOCTYPE html>
<html lang="ja">
    <header>
        <meta charset="utf-8">
        <title>伝承者会員登録</title>
    </header>
    <body>
        <div id="wrapper">
        <a href="https://bijisen.sctg.ac.jp/Introduction/">
            <h1>←</h1>
        </a>
        <form action="new.html" method="dialog">
            <h2>メールアドレス<span>※</span></h2>
            <input type="text" size="80" name="mail" required="required"><br>
            <h2>パスワード<span>※</span></h2>
            <input type="password" size="80" name="passwerd" required="required"><br>
            <h2>名前<span>※</span></h2>
            <input type="text" size="80" name="namae" required="required"><br>
            <h2>ふりがな<span>※</span></h2>
            <input type="text" size="80" name="hurigana" required="required"><br>
            <a href="new_category"><input type="submit" value="次へ"></a>
        </form>
        <h3>電話番号</h3>
        <h1>0000-00-0000</h1>
    <body>
  <html>
</div>