<a href=""><h1>←</h1></a>
<form action="" method="">
  <p>メールアドレス</p><input type="text" size="30"><br>
  <p>パスワード</p><input type="text" size="30"><br>
  <p>ニックネーム</p><input type="text" size="30"><br>
  <p>名前</p><input type="text" size="30"><br>
  <p>ふりがな</p><input type="text" size="30"><br>
  <p>チェックボックス</p><input type="text" size="30"><br>
  <p>アイコン</p><input type="" size=""><br>
  <p>電話番号</p><input type="text" size="30"><br>
  <p>生年月日</p><input type="text" size="30"><br>
  <p>カテゴリー</p><input type="text" size="30"><br>
  <input type="submit" value="登録">
</form>