<p class="sub-title">〜伝承する、継承する〜</p>
<h1 class="title mb-2">DenkNet</h1>
<%= link_to new_user_registration_path do %>
  <h2 class="btn btn-primary mr-2">新規登録</h2>
<% end %>
<%= link_to new_user_session_path do %>
  <h2 class="btn btn-success ml-2">ログイン</h2>
<% end %>