// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  height: 100%;
  width: 100%;
  display: table;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
}
